<%-include('partials/header.ejs') %>
<div class="homeContainer">
<h1>Home</h1>
<p><%= homeStartingContent %></p>
<a href="/compose" class="addIcon">+</a>
<% posts.forEach(post => { %>
    <h1><%= post.title %></h1>
    <p><%= post.content.slice(0, 100) + "..."%> <a href="/posts/<%= post._id %>">Read more</a></p>
<% }); %>
</div>
<%-include('partials/footer.ejs') %>